<%if notice.present? || alert.present? %>
  <div class="row notice">
    <%is_alert = alert.present? ? "alert" : ""%>
      <div data-alert class="alert-box <%=is_alert%>">
        <%=notice || alert%>
        <a href="javascript:closeNotice();" class="close">&times;</a>
      </div>
  </div>
  <script type="text/javascript">
  	function closeNotice() {
	    document.getElementByClassName("notice").setAttribute("style","display:none;");
	}
  </script>

<%end%>