<%if notice.present? || alert.present? %>
  <div id="flash" class="row notice">
    <%is_alert = alert.present? ? "alert" : ""%>
      <a class="close" data-dismiss="alert">&#215;</a>
      <%= notice || alert %>
  </div>

<script type="text/javascript">
  $(document).ready(function(){
    setTimeout(function(){
      $('#flash').remove();
    }, 3000);
   })
</script>
<%end%>


