<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 footer-pod">
        <h5>Site Links</h5>
        <ul class="list-unstyled" id="footer-nav">

	<li><a href="/">Home</a></li>

	<li><a href="/products">Shop</a></li>

	<li><a href="/about">Our Story</a></li>

	<li><a href="/contact">Contact Us</a></li>

	<li><a href="/terms">Terms</a></li>

</ul>
      </div>

      <div class="col-sm-3 footer-pod">

        <h5>Contact Us</h5>

        <span class="footerContent">166/2 Azad Square,&nbsp;<div>South Malaka,&nbsp;</div><div>Allahabad- 211003</div><div>Uttar Pradesh, India</div><div><br></div>
        Facebook<br>Twitter<br>'The Unsung Heros' Blog<br>Mail us</span>
      </div>


      <div class="col-sm-3 footer-pod">
        <h5>Our Pledge</h5>
        <span class="footerContent">Now get the exciting -nationalism themed- creativity in best quality cotton blend round neck tshirts. <br>We hope you would love and enjoy visiting our store and will be pleased with every purchase you make. And if not so, kindly give your valueable feedback and suggestions at:<br>saffrongrasspvtltd@gmail.com<br><br></span>
      </div>


      <div class="col-sm-3 footer-pod payment-col">

        <h5>Supported Payments</h5>
        <div id="payment-logos">

        </div>
          <div id="email-widget-wrapper">
  <form class="email-widget">
    <label style="color: inherit">Join our email list to get special offers</label>
    <div class="input-row clearfix">
      <input class="email-input" name="email" placeholder="Email" />
      <button type="submit">
        <div class="common-icon-arrow-right"></div>
      </button>
      <div class="email-error"></div>
    </div>
  </form>
  <div class="email-success-wrapper">
    <div class="inset">
      <span class="common-icon-checkmark"></span>
      <span class="email-success"></span>
    </div>
  </div>
</div>


      </div>
    </div>
  </div>
</div>

<!-- copyright -->
<div class="footer-extra">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="copyright" class="copyright">© Saffron Grass Trading Pvt. Ltd. 2016</div>
      </div>
    </div>
  </div>
</div>
