<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-3 footer-pod">
        <h3>Site Links</h3>
        <ul class="list-unstyled" id="footer-nav">
	
	<li><a href="/">Home</a></li>
	
	<li><a href="/products">Shop</a></li>
	
	<li><a href="/about">Our Story</a></li>
	
	<li><a href="/contact">Contact Us</a></li>
	
	<li><a href="/terms">Terms</a></li>
	
</ul>
      </div>
      
      <div class="col-sm-3 footer-pod">
        
        <h3>
          Contact Us
        </h3>
        
        166/2 Azad Square,&nbsp;<div>South Malaka,&nbsp;</div><div>Allahabad- 211003</div><div>Uttar Pradesh, India</div><div><br></div>
      </div>
      
      
      <div class="col-sm-3 footer-pod">
        <h3>
          Our Pledge
        </h3>
        Now get the exciting -nationalism themed- creativity in best quality cotton blend round neck tshirts. <br>We hope you would love and enjoy visiting our store and will be pleased with every purchase you make. And if not so, kindly give your valueable feedback and suggestions at:<br>saffrongrasspvtltd@gmail.com<br><br>
      </div>
      
      
      <div class="col-sm-3 footer-pod payment-col">
        
          <div id="email-widget-wrapper">
  <form class="email-widget">
    <label class="label-xlarge">Join our email list to get special offers</label>
    <div class="input-row clearfix">
      <input class="email-input" name="email" placeholder="Email" />
      <button type="submit">
        <div class="common-icon-arrow-right"></div>
      </button>
      <div class="email-error"></div>
    </div>
  </form>
  <div class="email-success-wrapper">
    <div class="inset">
      <span class="common-icon-checkmark"></span>
      <span class="email-success"></span>
    </div>
  </div>
</div>

        
        <h3>Supported Payments</h3>
        <div id="payment-logos">
        
        </div>
      </div>
    </div>
  </div>
</div>

<!-- copyright -->
<div class="footer-extra">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div id="copyright"><p>© Saffron Grass Trading Pvt. Ltd. 2016</p>
  
</div>
      </div>
    </div>
  </div>
</div>