<h4 class="column">Contact Us</h4>

<div class="column">
<div>
	Saffron Grass Trading Pvt. Ltd. <br>
	166/2 Azad Square, South Malaka, <br>
	Allahabad- 211003, <br>
	Uttar Pradesh, India<br>
</div>
<br/>

<%= render 'form' %>

</div>
