<!-- <tr>
<td><%#= line_item.quantity %>&times;</td>
<td><%#= line_item.product.name %></td>
<td class="item_price" ><%#= number_to_currency(line_item.total_price, unit: "₹ ") %></td>
</tr> -->
<%= sprintf("%2d x %s" ,
line_item.quantity,
truncate(line_item.product.name, :length => 50)) %>

